.about-us{
    background-color: $primaryColor;
    color:#ffff;
}

.about-us h4{
    color:#ffff;
}

.abt-us-desc h5{
    color:$primaryColor;
}

.obj-col1 i{
    font-size:4rem;
    padding:1.2rem;
}

.obj-col2{
    padding:1rem 2rem;
}

.team{
    background-color:#f8f9fa;
}

.team-box{
    background-color: #ffff;
    border-radius: 5px;
    padding-bottom: 2rem;
}
.team-desc h5{
    padding-top:2rem;
}
.team-desc span{
    color:$primaryColor;
}