/********root variables********/
$fontFamily:'Archivo', sans-serif;
$primaryColor :#dc3c45;
$secondaryColor:#343a40;
$tertiaryColor:#f2f2f2;
$priTextColor:#1b1e24;
// $secTextColor:#a1a8ad;
$secTextColor:#7e858d;